body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
    margin-top: 50px;
  }
  
  p {
    color: #555;
  }
  /* 新增导航栏样式 */
nav {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
